* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: rgb(38, 35, 54);
	color: #FFF;
}

.bg-martinique-950 {
	background-color: rgb(52, 47, 78);
}

.button {
	appearance: none;
	border: none;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.875rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	cursor: pointer;
}